@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

#logo {
  width: 100%;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.4s;
  position: absolute;
  bottom: -25px;
}

.nav-link:hover::after {
  width: 70px;
}

#hero {
  text-align: center;
  width: 650px;
  margin: 0 auto;
  line-height: 45px;
}
#size-width {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.rectangle {
  margin: 0 auto;
  width: 750px;
}
#line {
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  border-top: 10px solid black;
}

@media (max-width: 490px) {
  #logo {
    width: 200px;
    height: auto;
  }
  .nav-link::after {
    display: none;
  }
  #hero {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 35px;
  }
  #size-width {
    width: 100%;
  }
  .rectangle {
    width: 100%;
  }
  #line {
    width: 100%;
  }
}
